html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #181818;
	color: #B0C4DE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

textarea, input[type='text'], 
input[type='file'], input[type='password']
{
	background-color: #282828;
	border: 1px solid #757575 !important;
	color: #B0C4DE !important;
}

input[type='file']
{
    border: none;
}

#header
{
	height: 64px;
	width: 100%;
}

#app-title, .app-title
{
	margin: 10px 8px;
    background: #282828;
	font-family: "Times New Roman", serif;
	font-size: 24px;
}

.tab-app-title
{
    background-color: #181818 !important;
}
	
h2, label
{
	color: #DDC771;
}

h3
{
	color: #DDC771;
	margin: 10px 8px;
}


a
{
	color: #DDC771;
}

a:hover
{
	color: #FFF369;
}

input[type="text"]
{
	background-color: #282828;
	border: 1px solid #757575;
	color: #DDC771;
}

.gold
{
	color: #DDC771;
}

.red
{
	color: red;
}

.black
{
    color: black;
}

.italic
{
	font-style: italic;
}

.normal-weight
{
	font-weight: normal !important;
}

.inline
{
	display: inline-block;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

.vcentre
{
	vertical-align: middle;
}

.unconstrained
{
	overflow: auto;
}

.align-right
{
    text-align: right;
}

.font2x
{
    font-size: 200%;
}

.branding-container {
	display: flex;
}

.branding-title {
	font-size: 42pt;
	font-weight: bold;
	display: inline-block;
	color: #DDC771;
}

.gray-border {
	border: 1px solid #757575 !important;
}

.vh-centered {
	display: flex;
	justify-content: center;
	flex-direction: column;
}