
#content
{
    display: block;
	margin: 0 10px;
}

.goog-flat-button
{
	display: inline-block;
}

hr
{
	border: 0;
	height: 1px;
	background-color: #757575;
}

.settings-group
{
	margin: 20px 0;
}

#wf-title, #watch-settings
{
	float: left;
	width: 300px;
}

#wf-post, #misc-container
{
	width: 300px;
	margin-left: 310px;
}

#misc-container
{
	width: auto;
}

#favorites {
	width: 610px;
}

textarea
{
	width: 100%;
	height: 150px;
	background-color: #282828;
	border: 1px solid #757575;
	color: #B0C4DE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#warning
{
    display: none;
    color: red;
}

#save-settings-btn {
	margin-left: 515px;
}