body
{
    font-size: 13pt;
}

.logo
{
    height: 60%;
    width: 60%;
    margin: 2pt 0 !important;
}

#app-title
{
    margin-top: 4pt;
    font-size: 16pt;
}

#settings-btn
{
    height: 60%;
    margin-top: 4pt !important;
}

.header-btn
{
    margin-left: 8pt;
    margin-right: 8pt;
}

.tab-content
{
    padding-top: 32px !important;
}

.service-pane-container 
{
    margin-top: 16px;
}