html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #F0E0D6;
	color: #800000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

textarea, input[type='text'], 
input[type='file'], input[type='password']
{
	background-color: #FFFFEE;
	border: 1px solid #800000 !important;
	color: #800000 !important;
}

input[type='file']
{
    border: none;
}

#header
{
	height: 64px;
	width: 100%;
}

#app-title, .app-title
{
	margin: 10px 8px;
    background: #FFFFEE;
	font-family: "Times New Roman", serif;
	font-size: 24px;
}

.tab-app-title
{
    background-color: #F0E0D6 !important;
}
	
h2, label
{
	color: #800000;
}

h3
{
	color: #800000;
	margin: 10px 8px;
}


a
{
	/*color: #800000;*/
    color: navy;
}

a:hover
{
	/*color: #FFF369;*/
    color: navy;
}

input[type="text"]
{
	background-color: #FFFFEE;
	border: 1px solid #800000;
	color: #800000;
}

.gold
{
	color: #800000;
}

.red
{
	color: red;
}

.black
{
    color: black;
}

.italic
{
	font-style: italic;
}

.normal-weight
{
	font-weight: normal !important;
}

.inline
{
	display: inline-block;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

.vcentre
{
	vertical-align: middle;
}

.unconstrained
{
	overflow: auto;
}

.align-right
{
    text-align: right;
}

.font2x
{
    font-size: 200%;
}